<!DOCTYPE html>
<html>
<head>
  <title>Superdash</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
</head>
<body>

<%= yield %>

</body>
</html>
